  <header class="circular fixed w-50-l w-100 ph3 pt3 bg-white">


<div class="pb4 bb b--black">
<!-- {{ site.baseurl }}/ -->
    <nav class="w-50 f6 fl ">
			<!-- {{ site.baseurl }}/ -->
      <a class=" circular link dim black dib mr3" href="{{ site.baseurl }}/index.html" title="Home">Joe Letchford</a>
    </nav>

    <nav class="w-50 f6 fl tr ">

    <!-- <a class="link dim black dib mr3" href="{{ site.baseurl }}/about.html" title="About">About</a> -->
    <a class="link dim black dib" href="{{ site.baseurl }}/images/letchford_resume.pdf" target="_blank" title="Resume">Résumé</a>
    </nav>
</div>


</header>
