<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="black roboto v-base ws-normal">

    {% include header.html %}

    <div>


			<article>
			  <div class="cf dib ph3 pt5 pb0 fl w-25-ns w-100-m ">
					<div class=" pt4">
						<h1 class="db-ns dn f6 fw6 ttu tracked pb3 bb">{{ page.tags }}</h1>
					</div>
			  </div>
				<div class="ph ph3 pt5-ns fl dib w-75-ns">
					<h1 class=" pb3 bb ">{{ page.title }}</h1>
					<p class="f5 lh-copy mb-ns">
						{{ content }}
					</p>
				</div>
			</article>

    </div>
<!--
    {% include footer.html %} -->

  </body>

</html>
